
#main {
    /*flex-wrap: wrap; */
    /*background-image: url(images/smoke.mp4);*/
    background-position: center;
    background-size: 100% 100%;
    display: flex;
    /*transform: translateX(10px);*/
    z-index: 2;
    background-color: transparent;
    position: absolute;
}

* {
    background-color: transparent;
    scrollbar-width: none;
}

#mainbar {
    list-style-type: none;
    margin: 2.5vh 0;
    /*padding: 0 10px;*/
    display: flex;
    gap: 2.5vw;
    /*justify-content: center;*/
}



#topbar {
    list-style-type: none;
    padding: 0 2.5vw;
    display: inline-flex;
    border-bottom-style: solid;
    width: 90vw;
    gap: 10vw;
    border-color: white;
}

#name {
    padding: 0 0 0 0;
    align-content: center;
    /*background-color: black;*/
}

.main-buttons {
    /*background-color: #0d160b;*/
    /*background-size: 200% 200%;*/
    padding: 0vw;
    font-size: larger;
    font: bolder;
    /*border-radius: 7px;*/
    text-decoration: none;
    color: #ffffff;
    margin-right: 2.5vw;
    transform: skew(-50deg);
    font-weight: 1000;
    /*cursor: pointer;*/
}

.main-buttons:hover{
    /*background-color: #FFFCE8;*/
    color: wheat;
}

.main-buttons::before{
    background-color: #697A21;
}

.scroll-container {
    scroll-snap-type: y mandatory;
    height: 100vh;
    overflow-y: scroll;
}

html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body, html {
    overflow-y: auto;
    scrollbar-width: none;
}

.scroll-container.snap-disabled{
    scroll-snap-type: none;
}

.scroll-section {
    scroll-snap-align: start;
    height: 100vh;
}

li{
    padding: 0 50px;
    color: white;
}

p {
    color: white;
    background-color: transparent;
}

body {
    font-family: Consolas, monaco, monospace;
    padding: 20px 0 0 20px;
    /*background-color: black;*/
    /*background-color: black;*/
}

body::-webkit-scrollbar {
  display: none;
}

.dot {
    width: 17.5px;
    height: 17.5px;
    background-color: rgba(114, 89, 115, 0.53);
    border-radius: 50%;
    display: block;
    transition: transform .35s;
    transform: scaleY(1);
}

.dot.active {
    background-color: #c500d3;
    transform: scaleY(1.5);
    transition: transform .35s;
}

#background-image {
    top: 0;
    left: 0;
    /*display: block;*/
    position: relative;
}

#scroll-bar {
    padding-right: 2vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

#scroll-container {
    display: flex;
}

/*
.carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 300px;  adjust as needed
  margin: auto;
  overflow: hidden;
}
*/
/*
.carousel-track {
  display: flex;
  transition: transform 0.4s ease-in-out;
  width: 100%;
}
*/

.scroll-container-track img{
    object-fit: cover;
    width: 100%;
    flex-shrink: 0;
}

.slide-container {
    /*background-color: red;*/
    position: relative;
    /*margin: auto;*/
    width: 75vmin;
    height: 75vmin;
    aspect-ratio: 1/1;
    /*align-content: center;*/
    justify-content: center;
    display: flex;
}

.projects {
    padding-left: 2.5vw;
    justify-content: left;
    display: flex;
}

#project-description {
    padding-left: 2vw;
}
#project-title {
    padding-left: 2vw;
}
#project-text-container {
}
.slide {
    display: none;
    object-fit: contain;
    width: 100%;
    height: 100%;
    /*transform: scale();*/
}

.slide img{
    /*display: none; */
    object-fit: contain;
    width: 100%;
    height: 100%;
    /*transform: scale();*/
}

@keyframes bounceL {
    0%, 100% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(-5px);
    }
}
@keyframes bounceR {
    0%, 100% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(5px);
    }
}

.previous, .next {
    /*margin-top: -22px;*/
    margin-top: 50%;
    position: absolute;
    top: -30px;
    background-color: rgba(0, 0, 0, 0);
}
.previous {
    left: 0;
    border: hidden;
}

.next {
    right: 0;
    border: hidden;
}

.next:hover {
    /*transform: translateX(5px);*/
    animation: bounceR 0.8s infinite;
}
.previous:hover {
    animation: bounceL 0.8s infinite;
}

/*
#next-circle:hover{
    stroke: indianred !important;
}
*/
#next-svg:hover circle, #previous-svg:hover circle{
    stroke: indianred !important;
}

.point {
    width: 5px;
    height: 5px;
    background-color: rgba(170, 172, 198, 1);
    border-radius: 50%;
    position: absolute;
}

#points-container {
    z-index: 1;
    position: absolute;
    background-color: transparent;
}

#background {
    background-color: black;
    position: absolute;
    height: 100vh;
    width: 100vw;
    z-index: 0;
    top: 0;
    left: 0;
}

@keyframes expand {
    0% {
        transform: scale(33%);
        opacity: 0;
    }
    100% {
        transform: scale(100%);
        opacity: 1;
    }
}

.expand {
    transform: scale(33%);
    opacity: 0;
}

.expand.visible {
    animation: expand .6s ease-out forwards;
}
